html {
    padding: 0;
    margin: 0;
    font-family: Noto sans;
    background-color: #E6DBD1;
}

body {
    padding: 0;
    margin: 0;
}

main {
    /*    max-width: 80vw;*/
    margin: auto;
    align-items: center;
}

header {
    position: fixed;
    width: 100%;
    height: max-content;
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: max-content;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    width: max-content;
    height: max-content;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    width: max-content;
    margin: auto;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    width: max-content;
    margin: auto;
}

h3 {
    font-size: 24px;
    font-weight: 400;
}

h4 {
    font-size: 18px;
    font-weight: 400;
}

.grid {
    display: grid;
    justify-content: space-between;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.block {
    display: block;
}

.button {
    padding: 4vh 1vw 4vh 1vw;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 0 15% 0 15%;
    height: max-content;
    z-index: 2;
}

.content {
    margin: 0;
    padding: 1% 10% 1% 10%;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3vw;
}

.slideshow {
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: #c4c4c4;
    grid-template-columns: max-content max-content;
    justify-content: space-between;
    height: 100%;
    background-image: src(./Resources/Raster/thumbnail.jpg)
}

.left-arrow {
    ;
}

    .left-arrow:hover {
        transition: 100ms ease-in-out;
    }

.right-arrow {
    ;
}

    .right-arrow:hover {
        transition: 100ms ease-in-out;
    }

.dark {
    color: #E6DBD1;
    background-color: #38302E;
}

.light {
    color: #090A09;
    background-color: #E6DBD1;
}

.list-item {
    align-items: center;
    text-align: center;
    width: max-content;
    height: max-content;
}

.light-animation:hover {
    transition: 100ms ease-in-out;
    font-weight: 700;
    text-decoration: underline;
}

.dark-animation:hover {
    transition: 100ms ease-in-out;
    text-decoration: underline;
    background-color: #423E42;
}

.up-button {
    display: none;
    position: fixed;
    color: #090A09;
    background-color: none;
    width: 10%;
    text-align: center;
    padding: 100% 0 23px 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.up-button:hover {
    background-color: rgba(66, 62, 66, 0.50);
    text-decoration: underline;
}

.up-button-show {
    display: block;
}
